body {
    font-family: 'Georgia';
    background-color: white;
    
}

article {
   margin: 0 25%;
   text-align: justify;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
   padding: 2%;
   line-height: 2em;

}


h1, h2, h3, h4 {
    font-family: 'Roboto';
}

h4 {
    text-decoration: none;
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 0;
}

ol {
    font-family: 'Roboto';
}

ol a {
    font-family: Georgia;
}

h1 {
    font-size: 2em;
    text-align: center;
    border-bottom: solid;
    border-width: thin;
    border-color:rgb(216, 217, 218);
    padding-bottom: 1%;
    line-height: 1em;
}

ol p {
    font-family: Georgia;
}



.align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 1em;
}

.move {
    border-right: solid;
    border-right-width: thin;
    border-color: rgb(216, 217, 218);
    padding-right: 4%;
}

.move-second {
    padding-left: 4%;
}


img{
    max-width: 100%;
    max-height: 100%;
    display: block; 
}

figure {
    text-align: center;
}

.cuprins {
    display: flex;
    flex-direction: column;
}

li > a {
    text-decoration: none;
    color: inherit;
    color: grey;
}

.cuprins li {
    color: grey;
}


.design-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: solid;
    border-top-width: thin;
    border-color: rgb(216, 217, 218);
    color: grey;
}

